<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saveStudent</title>

</head>
<body>
<div  style="text-align:center; margin-top: 200px ; font-size: 30px">
<form th:action="@{saveStudent}"
      th:method="post"
      th:object="${student}">

    <input th:type="text" th:field="*{firstName}" placeholder="first name">
    <br>
    <br>
    <input th:type="text" th:field="*{lastName}" placeholder="first name">
    <br>
    <br>
    <input th:type="text" th:field="*{email}" placeholder="email">
    <br>
    <br>
    <div class="radio-button ">
        <input type="radio" value="ONLINE" th:field="*{studyFormat}"
               id="onlineFormat">
        <label for="onlineFormat">ONLINE</label>
        <input type="radio" value="OFFLINE" th:field="*{studyFormat}"
               id="offlineFormat">
        <label for="offlineFormat">OFFLINE</label>
    </div>
    <select th:field="*{groupId}">
        <option th:each="group:${groupList}"
                th:value="${group.id}"
                th:text="${group.groupName}">
        </option>
    </select>

    <input type="submit" value="add Student" style="background: orange">
</form>

</div>
</body>
</html>