<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>students</title>
</head>
<body>
<table class="table" style="width: 60%">
    <tr>
        <td>#</td>
        <td>first name</td>
        <td>email</td>
        <td>study format</td>
        <td>update</td>
        <td>delete</td>
    </tr>
    <tr th:each="student:${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.studyFormat}"></td>
        <td><a th:href="@{/students/update/{id}(id=${student.id})}">
            <button style="height: auto; background-color: blue">update</button>
        </a></td>
        <form th:method="delete" th:action="@{/students/delete(id=${student.id})}">
            <button type="submit" style="height: auto; background-color: red">delete</button>
        </form>
    </tr>
</table>
<form>
    <input style=" display: block; margin:auto; font-size:15px;"class="b1" type="button" value="Add Student" onclick="window.location.href ='addStudent'">
</form>
</body>
</html>