<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>company</title>
    <style>
        table {
            width: 300px;
            border: 1px solid green;
            margin: auto;
        }
        td {
            text-align: center;
        }
        table, th, td {
            border:1px solid darkblue;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table" style="width:60%">
    <tr>
        <td>#</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>email</td>
        <td>Students</td>
        <td>update</td>
        <td sec:authorize="hasAuthority('ADMIN')">delete</td>
    </tr>
    <tr th:each="teacher:${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.email}"></td>
        <td><a th:href="@{/teachers/students/{teacherId}(teacherId=${teacher.id})}">
            <button style="height: auto; background-color: orange">Students</button>
        </a></td>
        <td><a th:href="@{/teachers/update/{id}(id=${teacher.id})}">
            <button style="height: auto; background-color: blue">update</button>
        </a></td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:method="delete" th:action="@{/teachers/delete(id=${teacher.id})}">
                <button type="submit" style="height: auto; background-color: red">delete</button>
            </form>
        </td>
    </tr>

</table>
<form>
    <input style=" display: block; margin:auto; font-size:15px; " class="b1" type="button" value="Add Teacher" onclick="window.location.href ='addTeacher'">
</form>
<a href="/"><button style=" display: block; margin:auto; font-size:15px; " class="b1" type="button">Menu</button></a>
</body>
</html>
