<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div style="text-align: center">
  <form th:action="@{saveCourse}"
        th:method="post"
        th:object="${course}">

    <input th:text="text" th:field="*{courseName}" placeholder="course name">
    <br>
    <br>
    <input th:text="text" th:field="*{company}" placeholder="company">
    <br>
    <br>
    <input th:text="text" th:field="*{durationMonth}" placeholder="duration(month)">
    <br>
    <br>


    <input type="submit" value="add Course">
  </form>
</div>
</body>
</html>