<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <style>
        body {
            background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNH30pt_WzPuYgm9LXEYUzcTKxRm470wVUlQ&usqp=CAU");
            background-size: cover;
        }
    </style>
</head>
<body>
<div style="text-align: center ; margin-top: 200px; font-size: 30px ; border: 10px greenyellow">
    <a href="companies/companies">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
                data-bs-content="And here's some amazing content. It's very engaging. Right?">Company
        </button>
    </a>
    <br>
    <a href="groups/groups">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
                data-bs-content="And here's some amazing content. It's very engaging. Right?">Group
        </button>
    </a>
    <br>
    <a href="teachers/teachers">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
                data-bs-content="And here's some amazing content. It's very engaging. Right?">Teacher
        </button>
    </a>
    <br>
    <a href="students/students">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
                data-bs-content="And here's some amazing content. It's very engaging. Right?">Student
        </button>
    </a>
    <br>
    <a href="courses/courses">
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title"
                data-bs-content="And here's some amazing content. It's very engaging. Right?">Course
        </button>
    </a>
</div>
</body>
</html>
