<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>group</title>
    <style>
        table {
            width: 300px;
            border: 1px solid green;
            margin: auto;
        }
        td {
            text-align: center;
        }
        table, th, td {
            border:1px solid darkblue;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table" style="width:60%">
    <tr>
        <td>#</td>
        <td>Group Name</td>
        <td>date of start</td>
        <td>date of finish</td>
        <td>update</td>
        <td>delete</td>
    </tr>
    <tr th:each="group:${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
        <td><a th:href="@{/groups/update/{id}(id=${group.id})}">
            <button style="height: auto; background-color: blue">update</button>
        </a></td>
        <td>
            <form th:method="delete" th:action="@{/groups/delete(id=${group.id})}">
                <button type="submit" style="height: auto; background-color: red">delete</button>
            </form>
        </td>
    </tr>

</table>
<form>
    <input style=" display: block; margin:auto; font-size:15px; " class="b1" type="button" value="Add Group" onclick="window.location.href ='addGroup'">
</form>
</body>
</html>